@font-face { 
    font-family: "NK57";
    src: url("../fonts/nk57/nk57-monospace-no-bd.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face { 
    font-family: "Mazzard";
    src: url("../fonts/mazzard/MazzardH-Light.eot");
    src: url("../fonts/mazzard/MazzardH-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/mazzard/MazzardH-Light.woff") format("woff"),
    url("../fonts/mazzard/MazzardH-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face { 
    font-family: "Mazzard";
    src: url("../fonts/mazzard/MazzardH-Medium.eot");
    src: url("../fonts/mazzard/MazzardH-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/mazzard/MazzardH-Medium.woff") format("woff"),
    url("../fonts/mazzard/MazzardH-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face { 
    font-family: "Mazzard";
    src: url("../fonts/mazzard/MazzardH-Regular.eot");
    src: url("../fonts/mazzard/MazzardH-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/mazzard/MazzardH-Regular.woff") format("woff"),
    url("../fonts/mazzard/MazzardH-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Mazzard";
    src: url("../fonts/mazzard/MazzardH-Bold.eot");
    src: url("../fonts/mazzard/MazzardH-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/mazzard/MazzardH-Bold.woff") format("woff"),
    url("../fonts/mazzard/MazzardH-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face { 
    font-family: "Gilroy";
    src: url("../fonts/gilroy/Gilroy-Light.eot");
    src: url("../fonts/gilroy/Gilroy-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gilroy/Gilroy-Light.woff") format("woff"),
    url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}