html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Mazzard;
  font-style: normal;
  color: #000000;
  max-width: 1920px;
  // min-width: 1920px;
  margin: 0 auto;
  font-weight: 275;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
button,input,textarea{
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #000000;
}
textarea{
  resize: none;
}
.text {
  font-weight: 275 !important;
  font-size: 24px;
  line-height: 100%;
}
.btn_active {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffb038 0%,
    #ff9900 100%
  ) !important;
  border:none;
  border:2px solid #ff9900 !important ;
}
.footer__l-top a, .gal__inst-inst a, .recall{
  transition: 0.5s;
  &:hover{
    color:#f02210 !important;
    transition: 0.5s;
  }
}
.header__inner-active{
  top: 60px !important;
  transition: all 0.5s !important;
  opacity: 1 !important;
  z-index: 30 !important ;
  
}
.popUp__active{
  background-color: rgba($color: #000000, $alpha: .3);
  top: 0px !important;
  justify-content: center;
  align-items:center;
  left: 0 !important;
  height: 100vh;
  z-index: 100 !important;
  opacity: 1 !important;
  transition: 0.5s !important;
}
