@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "vars";
@import "libs";
@import "fonts";
@import "global";
.main-inner {
  display: flex;
  background-image: url(../img/BG.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.side-nav {
  width: 180px;
  max-height: 100vh;
  padding: 0 10px 30px 10px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  background-color: #1f2022;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__items {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 24px;
  }
  &__item {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #575757;
  }
  &__more {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 19px;

    &-item {
      width: 100%;
      margin-bottom: 10px;
      padding: 20px;
      background: #0d0d0d;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        min-width: 90px;
        color: #fff;
      }
      img {
        width: 20px;

        height: 20px;
        margin-right: 15px;
      }
    }
    &-item-ls {
      background: linear-gradient(
        180deg,
        rgba(255, 102, 0, 0.995018) 0%,
        #ffcc00 100%
      );
      p {
        color: #9a500d;
      }
    }
  }
  &__under-text {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #575757;
      text-align: center;
    }
  }
}
.page-1 {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    margin-bottom: 50px;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    max-width: 920px;
  }
  &__item {
    padding-top: 30px;
    position: relative;
    padding-right: 10px;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 0;
      left: 0;
      background: #ff7900;
      border-radius: 1px;
    }
    p {
      max-width: 257px;
    }
  }
  &__img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1000px;
    height: 410px;
    margin-left: -25px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
.page-2 {
  background-image: url(../img/second_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 200px left;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    margin-bottom: 30px;
    width: 100%;
    max-width: 700px;
  }
  .subtitle {
    font-weight: 500;
    padding-bottom: 80px;
    max-width: 430px;
    text-transform: capitalize;
  }
  &__arrow {
    display: flex;
    align-items: center;
    margin-bottom: 230px;
    p {
      font-size: 14px;
      max-width: 270px;
      text-transform: uppercase;
      font-weight: bold;
    }
    img {
      margin-right: 20px;
    }
  }
  &__items {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    margin-right: 40px;
    position: relative;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    &-img {
      width: 164px;
      height: auto;
      position: absolute;
      bottom: 47px;
      left: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    // &::before {
    //   content: "";
    //   height: 146px;
    //   width: 261px;
    //   background-color: #1f2022;
    //   position: absolute;
    //   bottom: -25px;
    //   left: -30%;
    //   transform: translateZ(-2px);
    //   background: #1f2022;
    //   border-radius: 5px;
    // }
    p {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      background-color: #fff;
      background: #1f2022;
      border-radius: 5px;
      padding: 90px 0 30px;
      width: 261px;
      background-color: #1f2022;
    }
  }
}
.page-3 {
  .title {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 50px;
    max-width: 422px;
  }
  &__items {
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__item {
    padding-top: 30px;
    position: relative;
    padding-right: 10px;
    margin-right: 90px;
    &:nth-last-child(1) {
      margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 0;
      left: 0;
      background: #ff7900;
      border-radius: 1px;
    }
    p {
      max-width: 285px;
    }
  }
  &__img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1000px;
    height: 410px;
    margin-left: -25px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
.page-4 {
  .title {
    margin-bottom: 40px;
    
  }
  &__container {
    padding: 0;
    padding-left: 10px;
    padding-top: 120px;
  }
  &__texts {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    transition: all 0.3s;
  }
  .subtitle {
    margin-right: 130px;
    span {
      display: block;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding-top: 10px;
    }
  }
  .text {
    max-width: 350px;
  }
  &__slider {
    &-item {
      width: 796px !important;
      margin-right: 42px;
      &:nth-last-child(1) {
        margin-right: 0;
        &-img {
          img {
            width: 98%;
          }
        }
      }
    }
    .slick-track {
      width: 6200px !important;
    }
    .slick-slide {
      width: 840px !important;
      height: 400px;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      outline: none;
      position: relative;
      max-width: 130px;
      margin-top: 42px;
    }
    .slick-dots .slick-active button {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #ff7900;
      box-shadow: 0px 0px 8px rgba(255, 151, 54, 0.6);
      width: 10px;
      height: 10px;
      opacity: 1;
      border-radius: 50%;
      outline: none;
    }
    .slick-dots button {
      cursor: pointer;
      width: 10px;
      height: 10px;
      font-size: 0;
      border: none;
      padding: 0;
      border-radius: 50%;
      margin: 0 5px;
      background-color: #1f2022;
      outline: none;
    }
    .slick-arrow.slick-next {
      border: none;
      transition: all 0.4s;
      background-color: transparent;
      position: absolute;
      right: 250px;
      top: 174px;
      cursor: pointer;
      outline: none;
    }
    .slick-disabled {
      opacity: 0;
      transition: all 0.4s;
      pointer-events: none;
    }
    .slick-arrow.slick-prev {
      border: none;
      transition: all 0.4s;
      background-color: transparent;
      position: absolute;
      left: 40px;
      top: 174px;
      z-index: 2;
      transform: rotate(180deg);
      cursor: pointer;
      outline: none;
    }
    .slick-slider {
      position: relative;
    }
    &-img {
      width: 796px;
      height: 400px;
      border: 2px solid #575757;
      box-shadow: 0px 20px 60px rgba(254, 102, 0, 0.1);
      background-color: #1a1b1c;
      border-radius: 8px;
      &-ls {
      }
      img {
        border-radius: 8px;
        display: block;
        max-width: 100%;
        height: 100%;
      }
    }
  }
}
.page-5 {
  .title {
    margin-bottom: 40px;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 80px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    &-title {
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 24px;
      margin-bottom: 20px;
    }
    &-text {
      max-width: 410px;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 64px;
    }
    &-imgs {
      display: flex;
      align-items: center;
    }
    &-img {
      width: 220px;
      min-height: 250px;
      background: #1f2022;
      border-radius: 5px;
      margin-right: 20px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.page-6 {
  .title {
    margin-bottom: 50px;
    max-width: 600px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__item {
    display: flex;
    margin-right: 160px;
    margin-bottom: 40px;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
    &:nth-last-of-type(2) {
      margin-right: 0;
    }
  }
  &__img {
    width: 150px;
    height: 150px;
    background: #1f2022;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    img {
      border-radius: 20px;
      filter: drop-shadow(0px 0px 24px rgba(255, 151, 54, 0.6));
    }
  }
  &__texts {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    max-width: 234px;
    font-size: 16px;
    line-height: 24px;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width: 270px;
  }
}
.page-7 {
  .title {
    margin-bottom: 50px;
    max-width: 654px;
  }
  &__container {
  }
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 900px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: 80px;
    &:nth-child(2, 4) {
      margin-right: 0;
    }
    p {
      max-width: 262px;
    }
  }
  &__img {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    background: #1f2022;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      filter: drop-shadow(0px 0px 24px rgba(255, 151, 54, 0.6));
    }
  }
  &__info {
    padding: 0 40px;
    background: #1f2022;
    border-radius: 5px;
    min-height: 130px;
    max-width: 705px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 align-items;
    p {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      margin-right: 33px;
    }
    &-item {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      background: linear-gradient(
        185.53deg,
        rgba(255, 102, 0, 0.995018) 4.41%,
        #ffcc00 95.59%
      );
      border-radius: 3px;
      img {
        height: 23px;
        width: 23px;
      }
    }
  }
}

@import "media";
