@import "vars";
@import "libs";
@import "fonts";
@import "global";

.q-work {
  &__inner {
    margin: 0 auto;
    width: 100%;
  }
  &__header {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    direction: rtl;
    .q-inner {
      padding: 160px 0 200px;
    }
    &--text {
      max-width: 711px;

      span {
        display: block;
      }
    }
    &--uptitle {
      font-family: Open Sans Hebrew Condensed;
      font-size: 130px;
      color: #fff;
      font-weight: bold;
      margin-bottom: -70px;
      text-align: right;
    }
    &--title {
      font-family: Open Sans Hebrew Condensed;
      font-weight: bold;
      font-size: 200px;
      color: #fff;
      text-align: right;
    }
  }
  &__history {
    text-align: center;
    padding: 45px 0 60px;
    direction: rtl;
    .q-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .q-work__title {
      margin-bottom: 30px;
    }
    .q-work__text {
      max-width: 861px;
    }
  }
  &__blocks {
  }
  &__block {
    height: 745px;
    display: flex;
    .q-inner {
      display: flex;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
    &--about {
      width: 50%;
      direction: rtl;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .q-work__text {
      max-width: 468px;
    }
    .q-work__title {
      max-width: 468px;
      max-width: 335px;
      margin-right: 127px !important;
      margin-bottom: 9px;
      width: 100%;
      &::before {
        display: none;
      }
    }
    &--photo {
      width: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .__brown-block {
    .q-inner {
      flex-direction: row-reverse;
    }
    .q-work__title {
      color: #fff;
      max-width: 403px;
      margin-right: 125px !important;
      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
    }
    .q-work__text {
      max-width: 497px;
    }

    .q-work__block--about {
      background-color: #895339;
      color: #fff;
    }
  }
  .__meshy-block {
    .q-work__block--about {
      background-image: url(../img/meshy-bg.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .__red-block {
    background-color: #640000;
    padding: 42px 33px;
    .q-inner {
      border: 3px solid #fff;
      background-color: #640000;
      flex-direction: row-reverse;
    }
    .q-work__title {
      color: #fff;
      max-width: 584px;

      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
    }
    .q-work__text {
      max-width: 673px;
    }

    .q-work__block--about {
      color: #fff;
    }
    .q-work__block--photo {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      & img {
        border-radius: 50%;
      }
    }
  }
  .__blue-block {
    .q-inner {
      flex-direction: row-reverse;
    }
    .q-work__title {
      color: #fff;
      max-width: 403px;

      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
    }
    .q-work__text {
      max-width: 497px;
    }

    .q-work__block--about {
      background-color: #464b60;
      color: #fff;
    }
  }
  &__footer {
    padding: 30px;
    background-color: #916a00;
    text-align: right;
    .q-inner {
      border: 3px solid #fff;
      max-width: 100%;
      padding: 30px 100px;
    }
    .q-work__title {
      color: #fff;
      margin-right: 125px;
      margin-bottom: 30px;
      &::before {
        display: none;
      }
      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
    }
    &--items {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
    &--item {
      margin-right: 70px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
    &--logos {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--logo {
      height: 152px;
      width: 152px;
      margin-right: 12px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}
.q-cocktails {
  direction: rtl;
  &__inner {
    margin: 0 auto;
    width: 100%;
  }
  &__header {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    direction: rtl;
    .q-inner {
      padding: 160px 0 200px;
    }
    &--text {
      max-width: 794px;

      span {
        display: block;
      }
    }
    &--uptitle {
      font-family: Open Sans Hebrew Condensed;
      font-size: 130px;
      color: #fff;
      font-weight: bold;
      margin-bottom: -70px;
      text-align: right;
      text-shadow: 1px 1px 2px black, 0 0 1em #000;
    }
    &--title {
      font-family: Open Sans Hebrew Condensed;
      font-weight: bold;
      font-size: 200px;
      color: #fff;
      text-align: right;
      text-shadow: 1px 1px 2px black, 0 0 1em #000;
    }
  }
  &__history {
    text-align: center;
    padding: 45px 0 60px;
    direction: rtl;
    .q-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .q-cocktails__title {
      margin-bottom: 30px;
    }
    .q-cocktails__text {
      max-width: 794px;
    }
  }
  &__blocks {
  }
  &__block {
    height: 745px;
    display: flex;
    .q-inner {
      display: flex;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
    .q-cocktails__block--about-container {
      display: flex;
      flex-direction: column;
    }
    & span {
      display: block;
      font-family: Open Sans Hebrew Condensed;
    }
    &--about {
      width: 50%;
      direction: rtl;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .q-cocktails__text {
      max-width: 468px;
      color: #fff;

      &--block-title {
        font-size: 24px;
        line-height: 30px;
        font-family: Open Sans Hebrew Condensed;
        padding: 30px 0;
        font-weight: bold;
      }
      &--block-text {
        max-width: 400px;
      }
    }
    .q-cocktails__title {
      max-width: 317px;
      margin-right: 125px !important;
      width: 100%;
      color: #fff;
      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
      &::before {
        display: none;
      }
    }
    &--photo {
      width: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .__green-c-block {
    background-color: #fff;
    .q-inner {
      flex-direction: row-reverse;
    }
    .q-cocktails__title {
      color: #fff;
      max-width: 317px;

      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
    }
    .q-cocktails__text {
      max-width: 497px;
      &--block-text {
        max-width: 400px;
      }
    }

    .q-cocktails__block--about {
      background-color: #abb700;
      color: #fff;
    }
  }
  .__purple-c-block {
    background-color: #fff;
    .q-inner {
    }
    .q-cocktails__title {
      color: #fff;
      max-width: 242px;

      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
    }
    .q-cocktails__text {
      max-width: 497px;
      &--block-text {
        max-width: 320px;
      }
    }

    .q-cocktails__block--about {
      background-color: #bc1a3f;
      color: #fff;
    }
  }
  .__yellow-c-block {
    background-color: #fff;
    .q-inner {
      flex-direction: row-reverse;
    }
    .q-cocktails__title {
      color: #fff;
      max-width: 403px;

      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
    }
    .q-cocktails__text {
      max-width: 497px;
      &--block-text {
        max-width: 203px;
      }
    }

    .q-cocktails__block--about {
      background-color: #e98200;
      color: #fff;
    }
  }
  .__orange-c-block {
    background-color: #fff;
    .q-inner {
    }
    .q-cocktails__title {
      color: #fff;
      max-width: 403px;
      &::after {
        background-image: url(../img/text-decor-w.svg);
      }
    }
    .q-cocktails__text {
      max-width: 328px;
    }

    .q-cocktails__block--about {
      background-color: #ed4f00;
      color: #fff;
    }
  }
  .__new-c-block {
    direction: rtl;
    position: relative;
    .q-cocktails__block--about {
      background-color: #ab45b4;
      color: #fff;
    }
    .q-cocktails__block--photo {
      background-color: #a2a2a2;
    }
    .q-cocktails__block--text-a {
      position: absolute;
      margin: 0 !important;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      color: #000;
      & span {
        display: block;
        max-width: 180px;
        text-align: center;
        direction: rtl;
      }
      &::after {
        display: none;
      }
    }
  }
  .q-cocktails__footer--uptitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    & span {
      display: block;
    }
  }
  &__footer {
    height: 640px;
    position: relative;
    &::before {
      width: 100%;
      height: 100%;
      background: rgba($color: rgba(0, 0, 0, 0), $alpha: 0.4);
      position: absolute;
      top: 0;
      content: "";
    }
    .q-inner {
      max-width: 100%;
    }
    &--items {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
    .__footer-item-md{
      background-position: top 30px left;
    }
    &--item {
      background-repeat: no-repeat;
      background-size: 640px;
      background-position: top left;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 640px;
      max-height: 100%;
      & img {
        z-index: 2;
      }
    }
  }
}
@import "media";
