@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&family=Sora:wght@400;500&display=swap");
@import "vars";
@import "libs";
@import "fonts";
@import "global";

.q-form {
  padding: 70px 0;
  font-family: Sora;
  background:#fff;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 390px;
    padding: 0 15px;
  }

  &__title {
    font-family: Sarala;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 130%;
    text-align: center;
    color: #2f4050;
    margin-bottom: 40px;
  }
  &__inputs-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__rights-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__input {
    padding: 20px 50px 20px 50px;
    border: 1px solid #c8ccd0;
    border-radius: 28px;
    font-family: Sora;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    width: 100%;
    height: 56px;
    outline: none;
    margin: 0 auto;
    transition: all 0.3s;
    &:hover {
      border: 1px solid #eaae13;
      transition: all 0.3s;
    }
  }
  ._mail-input {
    background-image: url(../img/mail.svg);
    background-position: 15px 17px;
    border: 1px solid #0098d6;
    border-radius: 28px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    transition: all 0.3s;
    &:hover {
      border: 1px solid #eaae13;
      transition: all 0.3s;
    }
  }
  ._phone-input {
    background-image: url(../img/lock.svg);
    background-position: 15px 17px;
    background-repeat: no-repeat;
    margin-bottom: 11px;
  }
  &__rights {
    font-family: Sora;
    color: #394d60;
    text-align: right;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #394d60;
    transition: all 0.3s;
    &:hover {
      color: #eaae13;
      transition: all 0.3s;
      border-bottom: 1px solid #eaae13;
    }
  }
  &__btn {
    text-align: center;
    margin-top: 20px;
    font-family: Sora;
    border: none;
    background: #eaae13;
    box-shadow: 0px 1px 0px #bd8c0f;
    border-radius: 30px;
    padding: 15px 0;
    min-width: 240px;
    color: #ffffff;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background: #0098d6;
        box-shadow: 0px 1px 0px #0098d6;
      transition: all 0.3s;
    }
  }
  ._Facebook-link {
    margin-right: 20px;
  }
  ._google-link {
  }
  &__social {
    &-inner {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    &-link {
      padding: 6px;
      background: #f7f7f7;
      border: 1px solid #dedede;
      box-sizing: border-box;
      border-radius: 21px;
      color: #818181;
      font-size: 15px;
      line-height: 130%;
      width: 100%;
      align-items: center;
      display: flex;
      width: 170px;
      outline: none;
      transition: all 0.3s;
    &:hover {
    background: #0098d6;
      transition: all 0.3s;
      color: #fff;
    }
      
    }
    &-img {
      margin-right: 10px;
    }

    &-text {
      color: #acb3b9;
      font-size: 14px;
      line-height: 100%;
      margin-bottom: 20px;
      margin-top: 40px;
      text-align: center;
    }
    &-descr {
      font-size: 14px;
      line-height: 100%;
      color: #acb3b9;
      margin-top: 26px;
      text-align: center;
      &--span {
        color: #2f4050;
        text-decoration: underline;
        transition: all 0.3s;
        &:hover {
          color: #eaae13;
          transition: all 0.3s;
        }
      }
    }
  }
}

@import "media";
