#Image42 {
    margin-top: -48px;
}
#Shape93_text {
    left: -10px;
    top: 39px;
}
#Shape107_text {
    left: -10px;
    top: 39px;
}
#Button4 {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}
#Layer2 .close {
    float: right;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    color: #ff0000;
    text-shadow: 0px 1px 0px rgb(0 0 0);
    opacity: 1;
    -webkit-appearance: none;
    padding: 15px 15px 0px 0px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin-top: 6px;
}
#Shape1_text {
    left: -10px;
    top: 39px;
}
#wb_Image5 {
    margin: -68px 0px 0px -32px;
}
#Shape3_text {
    font-size: 14px;
    top: 21px;
    left: 15px;
}
#Shape4_text {
    left: 15px;
    top: 30px;
}
#Shape5_text {
    left: 15px;
    top: 30px;
}
#wb_Text8 {
    text-shadow: 6px 0px rgba(128, 163, 196, .2);
}
#wb_Text9 {
    text-shadow: 6px 0px rgba(128, 163, 196, .2);
}
#wb_Text11 {
    text-shadow: 6px 6px rgba(128, 163, 196, .2);
}
#wb_Text13 {
    text-shadow: 6px 6px rgba(128, 163, 196, .2);
}
#wb_Text15 {
    text-shadow: 6px 6px rgba(128, 163, 196, .2);
}
#wb_BulletedList2 {
    margin: 25px 0px 0px 35px;
}
#wb_BulletedList2 .item {
    padding: 8px 0 22px 0;
}
#wb_BulletedList1 {
    margin: 25px 0px 0px 35px;
}
#wb_BulletedList1 .item {
    padding: 10px 0 6px 0;
}
#wb_BulletedList3 {
    margin: 25px 0px 0px 35px;
}
#wb_BulletedList3 .item {
    padding: 9px 0 22px 0;
}
.ui-slider-horizontal .ui-slider-handle {
    top: 0px;
    margin-left: 0px;
}
#wb_Text69 {
    margin-top: -33px;
    padding: 0px 20px 10px 0px;
}
#Label1 {
    line-height: 18px;
}
#Label2 {
    line-height: 18px;
}
#Label3 {
    line-height: 18px;
}
#Editbox9 {
    margin-top: -33px;
}
#Shape84_text {
    left: -10px;
    top: 39px;
}
#Shape35_text {
    line-height: 15px;
}
#Shape36_text {
    line-height: 15px;
}
#Shape41_text {
    line-height: 15px;
}
#Shape44_text {
    line-height: 15px;
}
#Shape46_text {
    line-height: 15px;
}
#Shape50_text {
    line-height: 15px;
}
#Button2 {
    background-image: url(../images/button8.png);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}
#Button1 {
    background-image: url(../images/button7.png);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}
#Layer1 .close {
    float: right;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    color: #ff0000;
    text-shadow: 0px 1px 0px rgb(0 0 0);
    opacity: 1;
    -webkit-appearance: none;
    padding: 15px 15px 0px 0px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin-top: 12px;
}
#Shape53_text {
    top: 9px;
}
@media only screen and (max-width: 1169px) and (min-width: 1024px){
#Shape84_text {
    left: -8px;
    top: 42px;
}
#Shape1_text {
    left: -10px;
    top: 40px;
    width: 338px;
    height: 90px;
}
#Layer1 .modal-content {
    visibility: visible;
}
#wb_BulletedList2 {
    margin: 25px 0px 0px 15px;
}
#wb_BulletedList3 {
    margin: 25px 0px 0px 5px;
}
#wb_Shape74 {
    width: 18px;
}
#LayoutGrid13 > .col-2 {
    background-size: contain;
}
#wb_Shape56 {
    height: 93px;
}
#wb_SlideShow1 {
    height: 490px;
}
#LayoutGrid14 > .col-1 {
    background-size: contain;
}
#wb_Text27 {
    padding: 45px 0px 10px 0px;
}
#wb_SlideShow2 {
    height: 492px;
}
#wb_Text30 {
    padding: 15px 0px 80px 0px;
}
#wb_Text33 {
    padding: 200px 95px 270px 0px;
    text-align: center;
    line-height: 19px;
}
#wb_Text35 {
    padding: 202px 0px 270px 60px;
}
#wb_Text36 {
    padding: 0px 105px 0px 0px;
}
#wb_Text38 {
    padding: 0px 0px 0px 65px;
}
#wb_LayoutGrid18 {
    background-size: contain;
}
#wb_Text45 {
    padding: 120px 0px 260px 10px;
}
#wb_Text46 {
    padding: 122px 0px 296px 0px;
}
#wb_Text47 {
    padding: 125px 0px 277px 0px;
}
#wb_Text48 {
    padding: 127px 0px 275px 0px;
}
#wb_Text49 {
    padding: 127px 0px 275px 0px;
}
#wb_Shape86 {
    height: 15px;
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
#wb_Text6 {
    padding: 35px 0px 10px 0px;
}
#wb_BulletedList1 {
    margin: 25px 0px 0px 15px;
}
#wb_BulletedList2 {
    margin: 25px 0px 0px 10px;
}
#wb_BulletedList3 {
    margin: 0px 0px 0px 10px;
}
#wb_BulletedList1 .item0 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList1 .item1 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList1 .item2 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList1 .item3 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList1 .item4 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList2 .item0 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList2 .item1 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList2 .item2 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList2 .item3 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList3 .item0 {
    font-size: 13px;
	line-height: 14px;
}
#wb_BulletedList3 .item1 {
    font-size: 13px;
	line-height: 14px;
}
#wb_Text49 {
    padding: 50px 0px 85px 0px;
}
}
@media only screen and (max-width: 1169px){
#Layer2 .modal-content {
    visibility: visible;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: none;
    background-image: none;
    border: 1px #A0522D dashed;
    border-radius: 6px;
}
}
@media only screen and (max-width: 1169px){
#Image54 {
    width: 50px;
    height: 5px;
    margin-left: 15px;
}
}
@media only screen and (max-width: 1169px){
#Label5 {
    line-height: 15px;
}
}
@media only screen and (max-width: 1169px){
#Label6 {
    line-height: 15px;
}
}
@media only screen and (max-width: 1169px){
#SlideShow3_back {
    margin-top: -15px;
}
}
@media only screen and (max-width: 1169px){
#SlideShow3_next {
    margin-top: -15px;
}
}
@media only screen and (max-width: 1169px){
#Editbox15 {
    margin-top: -30px;
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
#Layer1 .modal-content {
    visibility: visible;
}
}
@media only screen and (max-width: 767px){
#wb_Text160 {
    padding: 10px 0px 145px 0px;
}
@media only screen and (max-width: 767px){
#wb_Text161 {
    padding: 25px 0px 161px 0px;
}
}
#Layer3 .close {
    float: right;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    color: #ff0000;
    text-shadow: 0px 1px 0px #fff;
    opacity: 1;
    -webkit-appearance: none;
    padding: 15px 15px 0px 0px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin-top: -8px;
}
@media only screen and (max-width: 767px) and (min-width: 480px){
#Shape159_text {
    left: -10px;
    top: 35px;
}
#wb_Text193 {
    font-size: 14px;
    margin: -5px 0px 0px 0px;
    padding: 5px 0px 20px 155px;
}
#wb_Text194 {
    font-size: 14px;
    width: 200px;
    margin: -9px 0px 0px 0px;
    padding: 0px 0px 20px 155px;
}
#wb_Text195 {
    font-size: 14px;
    width: 190px;
    margin: -14px 0px 0px 0px;
    padding: 8px 0px 30px 155px;
}
#wb_Text196 {
    font-size: 14px;
    width: 200px;
    margin: -18px 0px 0px 0px;
    padding: 0px 0px 20px 155px;
}
#wb_Text197 {
    font-size: 14px;
    width: 200px;
    margin: -17px 0px 0px 0px;
    padding: 0px 0px 50px 155px;
}
#wb_Text199 {
    font-size: 14px;
    width: 200px;
    margin: -25px 0px 0px 0px;
    padding: 5px 0px 20px 155px;
}
#wb_Text200 {
    font-size: 14px;
    width: 200px;
    margin: -10px 0px 0px 0px;
    padding: 5px 0px 20px 155px;
}
#wb_Text201 {
    font-size: 14px;
    width: 200px;
    margin: -5px 0px 0px 0px;
    padding: 5px 0px 20px 155px;
}
#wb_Text202 {
    font-size: 14px;
    width: 200px;
    margin: -10px 0px 0px 0px;
    padding: 5px 0px 20px 155px;
}
#wb_Text203 {
    font-size: 14px;
    width: 200px;
    margin: -10px 0px 0px 0px;
    padding: 5px 0px 20px 155px;
}
#wb_Shape163 {
    height: 600px;
}
#Editbox26 {
    margin-top: -30px;
}
#wb_Text205 {
    padding: 70px 0px 10px 0px;
}
#Shape174_text {
    top: 33px;
}
#Layer3 .modal-content {
    visibility: visible;
}
#Button6 {
    cursor: pointer;
    outline: none;
    border: none;
}
#wb_Text218 {
    padding: 15px 0px 10px 15px;
}
#wb_Shape200 {
    height: 74px;
}
#LayoutGrid32 > .col-1 {
    text-align: center;
}
}
@media (max-width: 480px){
    body{
        max-width: 320px;
        margin: 0 auto;
    }
    #wb_Carousel8{
        left: 0;
        top: 9722px;
    }
    
}
@media (max-width: 915px){
    #wb_Shape97{
        display: block;
        visibility:visible;
    }
    #wb_Carousel3 {
        left: 0px;
        top: 7751px;
    }
    .col-1{
        overflow: hidden;
    }
    .ui-slider .ui-slider-handle{
        width: 20px;
    }
    #wb_Carousel2 {
        left: 14px;
        top: 2679px;
    }
}
@media only screen and (max-width: 915px) and (min-width: 100px){
    #Editbox12{
        display: block !important;
        visibility: visible !important;
    }
}
/* @media (max-width: 420px){body{max-width: 420px}}
@media (max-width: 400px){body{max-width: 400px}}
@media (max-width: 375px){body{max-width: 375px}}
@media (max-width: 411px){body{max-width: 411px}}
@media (max-width: 540px){body{max-width: 540px}}
@media (max-width: 400px){body{max-width: 400px}} */
@media (max-width: 340px){
    #Layer2 .modal-body{
        height: 400px !important;
        overflow-y: scroll;
    }
}